In [1]:
!pip install ipython-sql sqlalchemy pymysql

Requirement already satisfied: ipython-sql in c:\users\md habibullah sheikh\appdata\local\programs\python\python313\lib\site-packages (0.5.0)
Requirement already satisfied: sqlalchemy in c:\users\md habibullah sheikh\appdata\local\programs\python\python313\lib\site-packages (2.0.43)
Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: prettytable in c:\users\md habibullah sheikh\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in c:\users\md habibullah sheikh\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (9.3.0)
Requirement already satisfied: sqlparse in c:\users\md habibullah sheikh\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\md habibullah sheikh\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\md habibullah sheikh\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in c:\users\md habibullah sheikh\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\md habibullah sheikh\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.14.0)
Requirement already satisfied: colorama in c:\users\md habibullah sheikh\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\md habibullah sheikh\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\users\md habibullah sheikh\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\md habibullah sheikh\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\md habibullah sheikh\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\md habibullah sheikh\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (3.0.51)
Requirement already satisfied: pygments>=2.4.0 in c:\users\md habibullah sheikh\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in c:\users\md habibullah sheikh\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\md habibullah sheikh\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\users\md habibullah sheikh\appdata\local\programs\python\python313\lib\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\md habibullah sheikh\appdata\local\programs\python\python313\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\md habibullah sheikh\appdata\local\programs\python\python313\lib\site-packages (from stack_data->ipython->ipython-sql) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\md habibullah sheikh\appdata\local\programs\python\python313\lib\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\md habibullah sheikh\appdata\local\programs\python\python313\lib\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///mydatabase.db

In [ ]:
#Question 1 : Explain the fundamental differences between DDL, DML, and DQL commands in SQL. Provide one example for each type of command.

#Answer:
#DDL	Data Definition Language	Defines and modifies database structure (tables, schemas, etc.)	CREATE TABLE Students (ID INT, Name VARCHAR(50));
#DML	Data Manipulation Language	Manages data inside tables (insert, update, delete)	INSERT INTO Students VALUES (1, 'Alice');
#DQL	Data Query Language	Retrieves data from the database	SELECT * FROM Students;

In [ ]:
#Question 2: What is the purpose of SQL constraints? Name and describe three common types of constraints, providing a simple scenario where each would be useful.

#Answer:
#Purpose: Constraints ensure data integrity, accuracy, and consistency in a database.

#Common Constraints:

#PRIMARY KEY – Uniquely identifies each record.
#Example: StudentID INT PRIMARY KEY

#FOREIGN KEY – Links data between tables.
#Example: CourseID INT FOREIGN KEY REFERENCES Courses(CourseID)

#UNIQUE – Prevents duplicate values in a column.
#Example: Email VARCHAR(100) UNIQUE

In [5]:
#Question 3: Explain the difference between LIMIT and OFFSET clauses in SQL. How would you use them together to retrieve the third page of results, assuming each page has 10 records?

#Answer:

#LIMIT: Specifies the number of records to return.

#OFFSET: Skips a specific number of records before starting to return rows.

In [ ]:
#Question 4: What is a Common Table Expression (CTE) in SQL, and what are its main benefits? Provide a simple SQL example demonstrating its usage.

#Answer:
#A CTE is a temporary result set that you can reference within a SELECT, INSERT, UPDATE, or DELETE statement.

#Benefits:
#Improves query readability
#Simplifies complex joins and subqueries
#Can be reused in the same query

In [ ]:
#Question 5: Describe the concept of SQL Normalization and its primary goals. Briefly explain the first three normal forms (1NF, 2NF, 3NF).

#Answer:
#Normalization organizes data to reduce redundancy and improve data integrity.

#Goals:

#Avoid duplicate data
#Ensure logical data storage
#Simplify data maintenance

#Normal Forms:
#1NF – Each column holds atomic (indivisible) values.
#2NF – Meets 1NF + no partial dependency (non-key attributes depend on the whole key).
#3NF – Meets 2NF + no transitive dependency (non-key depends only on the key).

In [ ]:
#Question 6 : Create a database named ECommerceDB and perform the following
#tasks:

#Create Database
CREATE DATABASE ECommerceDB;
USE ECommerceDB;

#Categories Table
CREATE TABLE Categories (
    CategoryID INT PRIMARY KEY,
    CategoryName VARCHAR(50) NOT NULL UNIQUE
);

#Products Table
CREATE TABLE Products (
    ProductID INT PRIMARY KEY,
    ProductName VARCHAR(100) NOT NULL UNIQUE,
    CategoryID INT,
    Price DECIMAL(10,2) NOT NULL,
    StockQuantity INT,
    FOREIGN KEY (CategoryID) REFERENCES Categories(CategoryID)
);

#Customers Table
CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    CustomerName VARCHAR(100) NOT NULL,
    Email VARCHAR(100) UNIQUE,
    JoinDate DATE
);

#Orders Table
CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    CustomerID INT,
    OrderDate DATE NOT NULL,
    TotalAmount DECIMAL(10,2),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

#Insert Records
INSERT INTO Categories VALUES
(1, 'Electronics'), (2, 'Books'), (3, 'Home Goods'), (4, 'Apparel');

#INSERT INTO Products VALUES
(101, 'Laptop Pro', 1, 1200.00, 50),
(102, 'SQL Handbook', 2, 45.50, 200),
(103, 'Smart Speaker', 1, 99.99, 150),
(104, 'Coffee Maker', 3, 75.00, 80),
(105, 'Novel: The Great SQL', 2, 25.00, 120),
(106, 'Wireless Earbuds', 1, 150.00, 100),
(107, 'Blender X', 3, 120.00, 60),
(108, 'T-Shirt Casual', 4, 20.00, 300);

#INSERT INTO Customers VALUES
(1, 'Alice Wonderland', 'alice@example.com', '2023-01-10'),
(2, 'Bob the Builder', 'bob@example.com', '2022-11-25'),
(3, 'Charlie Chaplin', 'charlie@example.com', '2023-03-01'),
(4, 'Diana Prince', 'diana@example.com', '2021-04-26');

#INSERT INTO Orders VALUES
(1001, 1, '2023-04-26', 1245.50),
(1002, 2, '2023-10-12', 99.99),
(1003, 1, '2023-07-01', 145.00),
(1004, 3, '2023-01-14', 150.00),
(1005, 2, '2023-09-24', 120.00),
(1006, 1, '2023-06-19', 20.00);

In [ ]:
#Question 7 : Generate a report showing CustomerName, Email, and the TotalNumberofOrders for each customer. Include customers who have not placed
#any orders, in which case their TotalNumberofOrders should be 0. Order the results by Customer Name.

#Answer:

SELECT 
    c.CustomerName,
    c.Email,
    COUNT(o.OrderID) AS TotalNumberofOrders
FROM Customers c
LEFT JOIN Orders o ON c.CustomerID = o.CustomerID
GROUP BY c.CustomerID, c.CustomerName, c.Email
ORDER BY c.CustomerName;

In [ ]:
#Question 8 : Retrieve Product Information with Category: Write a SQL query to display the ProductName, Price, StockQuantity, and CategoryName for all
#products. Order the results by CategoryName and then ProductName alphabetically.

#Answer :

SELECT 
    p.ProductName,
    p.Price,
    p.StockQuantity,
    c.CategoryName
FROM Products p
JOIN Categories c ON p.CategoryID = c.CategoryID
ORDER BY c.CategoryName, p.ProductName;

In [ ]:
#Question 9 : Write a SQL query that uses a Common Table Expression (CTE) and a Window Function (specifically ROW_NUMBER() or RANK()) to display the
#CategoryName, ProductName, and Price for the top 2 most expensive products in each CategoryName.
#Answer :

WITH RankedProducts AS (
    SELECT 
        c.CategoryName,
        p.ProductName,
        p.Price,
        ROW_NUMBER() OVER (PARTITION BY c.CategoryName ORDER BY p.Price DESC) AS rnk
    FROM Products p
    JOIN Categories c ON p.CategoryID = c.CategoryID
)
SELECT CategoryName, ProductName, Price
FROM RankedProducts
WHERE rnk <= 2;

In [ ]:
#Question 10 : You are hired as a data analyst by Sakila Video Rentals, a global movie rental company. The management team is looking to improve decision-making by
#analyzing existing customer, rental, and inventory data. Using the Sakila database, answer the following business questions to support key strategic initiatives.
#Tasks & Questions:
#1. Identify the top 5 customers based on the total amount they’ve spent. Include customer
#name, email, and total amount spent.
#2. Which 3 movie categories have the highest rental counts? Display the category name
#and number of times movies from that category were rented.
#3. Calculate how many films are available at each store and how many of those have
#never been rented.
#4. Show the total revenue per month for the year 2023 to analyze business seasonality.
#5. Identify customers who have rented more than 10 times in the last 6 months.

USE sakila;


SELECT 
    c.first_name AS FirstName,
    c.last_name AS LastName,
    c.email,
    SUM(p.amount) AS TotalSpent
FROM customer c
JOIN payment p ON c.customer_id = p.customer_id
GROUP BY c.customer_id
ORDER BY TotalSpent DESC
LIMIT 5;


SELECT 
    cat.name AS CategoryName,
    COUNT(r.rental_id) AS RentalCount
FROM rental r
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film_category fc ON i.film_id = fc.film_id
JOIN category cat ON fc.category_id = cat.category_id
GROUP BY cat.name
ORDER BY RentalCount DESC
LIMIT 3;


SELECT 
    s.store_id,
    COUNT(i.inventory_id) AS TotalFilms,
    SUM(CASE WHEN r.rental_id IS NULL THEN 1 ELSE 0 END) AS NeverRented
FROM store s
JOIN inventory i ON s.store_id = i.store_id
LEFT JOIN rental r ON i.inventory_id = r.inventory_id
GROUP BY s.store_id;


SELECT 
    DATE_FORMAT(payment_date, '%Y-%m') AS Month,
    SUM(amount) AS TotalRevenue
FROM payment
WHERE YEAR(payment_date) = 2023
GROUP BY Month
ORDER BY Month;

SELECT 
    c.first_name, 
    c.last_name, 
    COUNT(r.rental_id) AS RentalCount
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
WHERE r.rental_date >= DATE_SUB(CURDATE(), INTERVAL 6 MONTH)
GROUP BY c.customer_id
HAVING COUNT(r.rental_id) > 10;